.httpsgithubcomumer1abdull {
  margin: 0;
}
.github-httpsgithubcomume {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 33px;
  white-space: pre-wrap;
  display: inline-block;
  width: 817px;
  height: 69.8px;
}
.github-icon {
  position: absolute;
  top: 1.8px;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.fiverr-httpswwwfiverrcom,
.github {
  position: absolute;
  top: 177.2px;
  left: 0;
  width: 817px;
  height: 69.8px;
}
.fiverr-httpswwwfiverrcom {
  top: 0;
  letter-spacing: 0.01em;
  line-height: 33px;
  white-space: pre-wrap;
  display: inline-block;
  width: 816px;
}
.fiverr-icon {
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 2px;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.fiverr,
.linkedin-httpswwwlinkedin {
  position: absolute;
  top: 0;
  left: 0;
  width: 816px;
}
.fiverr {
  height: 69.8px;
  color: #944b4b;
}
.linkedin-httpswwwlinkedin {
  letter-spacing: 0.01em;
  line-height: 33px;
  white-space: pre-wrap;
  display: inline-block;
  height: 70.7px;
}
.linkedin-icon {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 22.5px;
  height: 22.5px;
  object-fit: cover;
}
.linkedin {
  position: absolute;
  top: 90.5px;
  left: 1px;
  width: 816px;
  height: 70.7px;
  color: #844141;
}
.social-media {
  position: absolute;
  top: 49px;
  left: 25px;
  width: 817px;
  height: 247px;
  font-family: var(--font-inter);
}
.phone-no-92-334-5763279 {
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 28px;
  letter-spacing: 0.01em;
  line-height: 40px;
  display: inline-block;
  width: 328px;
  height: 37px;
}
.phone-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 22.5px;
  height: 22.5px;
  object-fit: cover;
}
.email-umer1abdullah15gmailc,
.phone {
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 2px;
  width: 356px;
  height: 37px;
}
.email-umer1abdullah15gmailc {
  left: 30px;
  letter-spacing: 0.01em;
  line-height: 40px;
  display: inline-block;
  width: 328px;
}
.email-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 26.3px;
  height: 21px;
  object-fit: cover;
}
.contacts,
.email {
  position: absolute;
  top: 49px;
  left: 0;
  width: 358px;
  height: 37px;
}
.contacts {
  top: 196px;
  left: 997px;
  height: 86px;
  font-family: var(--font-roboto);
}
.contact,
.explore {
  position: absolute;
  top: 10px;
  left: 27px;
  font-size: var(--font-size-13xl);
  line-height: 25px;
  color: var(--color-black);
  display: inline-block;
  width: 157px;
  height: 25px;
}
.contact {
  top: 158px;
  left: 998px;
}
.footer {
  position: absolute;
  top: 2597px;
  left: 0;
  background-color: var(--color-white);
  width: 1366px;
  height: 308px;
  overflow: hidden;
  font-size: var(--font-size-3xl);
  color: var(--color-indianred-100);
}
.download,
.resume1 {
  position: absolute;
  top: 81px;
  left: 75px;
  line-height: 25px;
  display: inline-block;
  width: 194px;
  height: 28px;
}
.download {
  top: 32px;
  left: 55px;
  width: 201px;
  height: 32px;
}
.download-wrapper,
.resume {
  position: absolute;
  overflow: hidden;
}
.download-wrapper {
  top: 45px;
  left: 349px;
  border-radius: 14px;
  background-color: #623737;
  width: 307px;
  height: 95px;
  font-size: 45px;
  color: var(--color-white);
  font-family: var(--font-mako);
}
.resume {
  top: 2417px;
  left: 0;
  width: 1366px;
  height: 180px;
  font-family: var(--font-kenia);
}
.autozhub1-icon,
.autozhub2-icon,
.autozhub3-icon {
  position: absolute;
  top: 4px;
  left: 542px;
  width: 267px;
  height: 538px;
  object-fit: cover;
}
.autozhub1-icon,
.autozhub2-icon {
  top: 0;
  left: 274px;
  width: 250.8px;
  height: 552px;
}
.autozhub1-icon {
  top: 3px;
  left: 0;
  width: 249.4px;
  height: 540px;
}
.autozhub,
.autozhub-pics {
  position: absolute;
  top: 642px;
  left: 49px;
  width: 809px;
  height: 552px;
}
.autozhub {
  top: 7px;
  left: 99px;
  font-size: var(--font-size-21xl);
  line-height: 33px;
  font-weight: 600;
  display: inline-block;
  width: 195px;
  height: 36px;
}
.fintrack-cut-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.2px;
  height: 42px;
}
.man-project {
  margin-bottom: 0;
  font-size: 36px;
  font-family: outfit;
}
.man-project1 {
  margin-bottom: 0;
  font-size: 26px;
  font-family: inknut antiqua;
  opacity: 0.8;
}
.man-project2 {
  margin-bottom: 0;
  font-size: 32px;
  font-family: outfit thin;
}
.man-project-car-enthusiast-app {
  margin: 0;
  padding-left: var(--padding-24xl);
}
.man-project-car-container {
  position: absolute;
  top: 60px;
  left: 33px;
  line-height: 35px;
  font-weight: 100;
  font-family: var(--font-inherit);
  color: var(--color-white);
  display: inline-block;
  width: 339px;
  height: 70px;
}
.figma-react-native-container,
.made-using {
  position: absolute;
  line-height: 33px;
  display: inline-block;
}
.made-using {
  top: 154px;
  left: 4px;
  font-size: var(--font-size-19xl);
  width: 216px;
  height: 36px;
}
.figma-react-native-container {
  top: 215px;
  left: 3px;
  font-weight: 100;
  font-family: var(--font-inherit);
  color: var(--color-white);
  width: 277px;
  height: 165px;
}
.autozhub-parent {
  position: absolute;
  top: 24px;
  left: 11px;
  width: 372px;
  height: 380px;
}
.autozhub-1-removebg-preview-icon {
  position: absolute;
  top: 34px;
  left: 13px;
  width: 87.8px;
  height: 28.4px;
  object-fit: cover;
  display: none;
}
.autozhub-1-removebg-preview-icon1 {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 87.8px;
  height: 28.4px;
  object-fit: cover;
}
.autozhubadd {
  position: absolute;
  top: 700px;
  left: 891px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-3xs) var(--br-xl);
  background: linear-gradient(
    180deg,
    rgba(1, 57, 112, 0.8),
    rgba(74, 74, 74, 0.8)
  );
  width: 395px;
  height: 428px;
  overflow: hidden;
}
.projects-child {
  position: absolute;
  top: 601px;
  left: 474px;
  background-color: #e7dada;
  border-top: 2px dashed #651f1f;
  box-sizing: border-box;
  width: 402px;
  height: 2px;
}
.fintrack1-icon,
.fintrack2-icon,
.fintrack3-icon {
  position: absolute;
  top: 0;
  left: 566px;
  border-radius: var(--br-xl);
  width: 266px;
  height: 513px;
  object-fit: cover;
}
.fintrack1-icon,
.fintrack2-icon {
  left: 285px;
  width: 265px;
}
.fintrack1-icon {
  left: 0;
  width: 267.9px;
  mix-blend-mode: normal;
}
.fintrack,
.fintrack-pics {
  position: absolute;
  top: 42px;
  left: 473px;
  width: 832px;
  height: 513px;
}
.fintrack {
  top: 6px;
  left: 52px;
  font-size: var(--font-size-21xl);
  line-height: 33px;
  font-weight: 600;
  display: inline-block;
  width: 164px;
  height: 36px;
}
.fintrack-cut-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.2px;
  height: 42px;
  object-fit: cover;
}
.fintrackadd {
  position: absolute;
  top: 115px;
  left: 58px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-xl) var(--br-3xs);
  background-color: rgba(9, 41, 102, 0.8);
  width: 395px;
  height: 428px;
  overflow: hidden;
}
.projects1 {
  position: absolute;
  top: 53.2px;
  left: 85px;
  font-size: var(--font-size-47xl);
  line-height: 25px;
  font-family: var(--font-kenia);
  color: var(--color-white);
  display: inline-block;
  width: 211px;
  height: 28px;
}
.projects {
  position: absolute;
  top: 1187px;
  left: 0;
  background-color: #ae6d6d;
  width: 1366px;
  height: 1230px;
  overflow: hidden;
  font-size: var(--font-inherit);
  color: var(--color-gray-100);
  font-family: var(--font-outfit);
}
.css3-1-icon,
.html5-1-icon {
  position: absolute;
  top: 3.6px;
  left: 0;
  width: 85.7px;
  height: 85.7px;
  object-fit: cover;
}
.css3-1-icon {
  left: 98px;
  width: 60.7px;
}
.react-native-logo-1-icon,
.reactjs-1-icon {
  position: absolute;
  top: 0;
  left: 277.1px;
  width: 87.7px;
  height: 101.6px;
  object-fit: cover;
}
.reactjs-1-icon {
  top: 12.1px;
  left: 173px;
  width: 89.1px;
  height: 77.4px;
}
.html5-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 364.8px;
  height: 101.6px;
}
.c-1-icon,
.wordpress-1-icon {
  position: absolute;
  top: 0;
  left: 91px;
  width: 77.9px;
  height: 77.9px;
  object-fit: cover;
}
.c-1-icon {
  left: 194.1px;
  width: 70.3px;
  height: 79.1px;
}
.matlab-logo-1-icon,
.python-1-icon {
  position: absolute;
  top: 3.6px;
  left: 289.9px;
  width: 85.4px;
  height: 76.7px;
  object-fit: cover;
}
.python-1-icon {
  top: 2.4px;
  left: 0;
  width: 72.2px;
  height: 79.1px;
}
.angular-1-icon,
.wordpress-1-parent {
  position: absolute;
  top: 6.3px;
  left: 389.9px;
  width: 375.3px;
  height: 81.5px;
}
.angular-1-icon {
  top: 0;
  left: 67.3px;
  width: 91px;
  height: 91px;
  object-fit: cover;
}
.nodejs-1-icon,
.px-figma-logo-1-icon {
  position: absolute;
  top: 13.2px;
  left: 0;
  width: 46.9px;
  height: 70.4px;
  object-fit: cover;
}
.nodejs-1-icon {
  top: 15.4px;
  left: 169.4px;
  width: 111.5px;
  height: 68.2px;
}
.angular-1-parent,
.technoly-icons {
  position: absolute;
  top: 2px;
  left: 804px;
  width: 280.9px;
  height: 91px;
}
.technoly-icons {
  top: 431px;
  left: 88px;
  width: 1084.9px;
  height: 101.6px;
}
.i-have-experience-container,
.skills1 {
  position: absolute;
  top: 0;
  left: 7px;
  line-height: 25px;
  display: inline-block;
  width: 133px;
  height: 28px;
}
.i-have-experience-container {
  top: 64px;
  font-size: var(--font-size-17xl);
  line-height: 32px;
  font-family: var(--font-outfit);
  color: rgba(27, 15, 15, 0.5);
  width: 773px;
  height: 104px;
}
.fancy-and-modern-ui-ui-catered {
  margin: 0;
  padding-left: 48px;
}
.fancy-and-modern-container {
  position: absolute;
  top: 211px;
  left: 0;
  font-size: var(--font-inherit);
  line-height: 32px;
  font-family: var(--font-inherit);
  color: #8d7676;
  display: inline-block;
  width: 641px;
  height: 123px;
}
.skills,
.skills-text {
  position: absolute;
  top: 53px;
  left: 81px;
  width: 780px;
  height: 334px;
}
.skills {
  top: 611px;
  left: 0;
  width: 1366px;
  height: 576px;
  overflow: hidden;
  font-family: var(--font-kenia);
}
.assalamualaikum-this-is {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  font-weight: 600;
  color: var(--color-black);
  opacity: 0.5;
  display: inline-block;
  width: 642px;
  height: 25px;
}
.im-a-passionate {
  margin: 0;
  line-height: 25px;
}
.im-a-passionate-container {
  position: absolute;
  top: 75px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  opacity: 0.8;
  width: 562px;
  height: 65px;
}
body {
  background-color: #f9f9fa
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 5rem
}

.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(19, 24, 44, .125);
  border-radius: .25rem
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(19, 24, 44, .03);
  border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
  background-color: transparent;
  border-color: rgba(160, 175, 185, .15);
  background-clip: padding-box
}
.reactjs-react-native-angular-f {
  margin: 0;
  padding-left: 35px;
}
.reactjs-react-native-container {
  position: absolute;
  top: 156px;
  left: 26px;
  font-size: var(--font-inherit);
  line-height: 36px;
  display: inline-block;
  font-family: var(--font-inherit);
  width: 295px;
  height: 192px;
}
.about,
.info {
  position: absolute;
  top: 82px;
  left: 619px;
  width: 642px;
  height: 348px;
}
.about {
  top: 92px;
  left: 0;
  width: 1366px;
  height: 519px;
  overflow: hidden;
  background-image: url(/public/about@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 1;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}
.umer-abdullah {
  position: absolute;
  top: 9px;
  left: 79.7px;
  line-height: 25px;
  display: inline-block;
  width: 167.3px;
  height: 59px;
}
.profile-pic-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 62.2px;
  height: 64px;
  object-fit: cover;
}
.profile,
.resume2 {
  position: absolute;
  top: 15px;
  left: 23px;
  width: 247px;
  height: 68px;
}
.resume2 {
  top: 0;
  left: 436px;
  line-height: 25px;
  display: inline-block;
  width: 137px;
  height: 22px;
  cursor: pointer;
}
.projects2 {
  left: 259px;
  width: 143px;
  cursor: pointer;
}
.home,
.projects2,
.skills2 {
  position: absolute;
  top: 0;
  line-height: 25px;
  display: inline-block;
  height: 22px;
}
.skills2 {
  left: 135px;
  width: 90px;
  cursor: pointer;
}
.home {
  left: 0;
  width: 101px;
}
.links {
  top: 31px;
  left: 682px;
  width: 573px;
  height: 22px;
}
.header,
.icon,
.links {
  position: absolute;
}
.icon {
  top: 5px;
  left: 1271px;
  width: 79px;
  height: 79px;
  object-fit: cover;
}
.header {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1366px;
  height: 92px;
  overflow: hidden;
  font-size: var(--font-size-25xl);
}
.me-icon {
  position: absolute;
  top: 122px;
  left: 54px;
  width: 430px;
  height: 489px;
  object-fit: cover;
}
.portfolio {
  position: relative;
  background-color: #fdd;
  width: 100%;
  height: 2905px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-black);
  font-family: var(--font-iceland);
}
